/* Education */
.edu-block {
    margin-top: 20px;
}

.edu-block h3 {
    margin-bottom: 8px;
    color: var(--color-heading);
}

.edu-block ul {
    margin-top: 10px;
    padding-left: 20px;
}

.edu-block li {
    margin-bottom: 8px;
    line-height: 1.5;
}