<p>
    I am a results-driven Principal Software Engineer with over 13 years of experience working in a variety
    of environments, ranging from extremely fast-paced startups to process-focused corporate cultures. My
    expertise is centered on backend and full-stack development, with a strong emphasis on building
    scalable, maintainable, and high-performance systems. I am passionate about leveraging technology to
    solve complex problems and drive business growth.
    <br><br>
    My technical skills include designing and developing microservices and event-driven architectures in
    cloud-native serverless functions, using a range of programming languages and frameworks such as Python,
    C#, and the .NET Framework.
    <br><br>
    I am passionate about advancing AI technologies and apply methodologies like machine learning and
    natural language processing to solve real-world problems while ensuring ethical AI development, focused
    on data privacy and transparency. I am also exploring adaptive workflow tools like
    <strong>DendriFlow</strong> to enhance developer productivity and maintain trust in AI-driven systems.
    <br><br>
    Throughout my career, I have delivered measurable improvements to mission-critical systems. For example,
    I led a complete rearchitecture of a company's tiered rebate calculation engine, reducing processing
    time from approximately 2 hours to 18 minutes—an improvement of over <strong>85%</strong> significantly
    enhancing calculation speed and user satisfaction.
</p>