<div id="skill-expertise-details-container" class="skill-expertise-details-container">
    <template>
        <div class="skill-expertise-detail">
            <div class="detail-header">
                <h3></h3>
                <div class="skill-expertise-tags"></div>
            </div>
            <div class="skill-expertise-details">
                <p><strong>Overview:</strong></p>
                <p><strong>Pros:</strong></p>
                <p><strong>Cons:</strong></p>
                <ul></ul>
            </div>
        </div>
    </template>
</div>