<div class="technologies-grid" data-container data-tag-tree>
    <template id="technologies-item-template">
        <div data-field="name" data-tag-tree-item class="technology-tag"></div>
    </template>
    <div data-supplementary-container>
        <!-- Breadcrumb HTML only -->
        <nav class="breadcrumbs" aria-label="Project tag breadcrumbs">
            <button type="button" class="breadcrumb-back" data-action="back" aria-hidden="true" title="Go back" hidden>
                ←
            </button>

            <ol class="breadcrumb-list" data-field="breadcrumb-list">
                <!-- Here they go < -->
            </ol>
        </nav>
    </div>
</div>