<div class="technologies-grid" data-container data-tag-tree>
    <!-- Breadcrumbs -->
    <div class="technologies-breadcrumbs-container" data-supplementary-container>
        <nav class="breadcrumbs" aria-label="Project tag breadcrumbs">
            <ol class="breadcrumb-list" data-field="breadcrumb-list"></ol>
        </nav>
    </div>

    <!-- Technology tiles -->
    <div class="technology-tiles-container">
        <template id="technologies-item-template">
            <div data-field="name" data-tag-tree-item class="technology-tag"></div>
        </template>
    </div>

    <!-- Project list container -->
    <div class="project-repositories-container" data-supplementary-container>
        <div id="projects-list"></div>
    </div>
</div>