<div class="certifications-timeline" data-container>
  <!-- Template for each certification item -->
  <template id="cert-item-template">
    <div class="certification-item">
      <div data-field="name" class="certification-name"></div>
      <div data-field="issuer" class="certification-issuer"></div>
      <div data-field="date" class="certification-date"></div>
      <div data-field="credential" class="certification-credential"></div>
      <div data-field="status" class="certification-status"></div>
    </div>
  </template>
</div>